#buttons .button {
  margin-top: 10px;
  margin-left: 14px;
}
.itemTime {
  color: #808080;
}
.projectTitle i.star {
  margin-right: 15px;
}
body {
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  line-height: 1.4;
}
.ui.divider {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}
#percentage {
  margin-top: 20px;
  margin-bottom: 20px;
}
#header .column {
  margin-bottom: 0px;
}
span.vote-color {
  display: inline-block;
}
#side {
  margin-top: 35px;
}
