#buttons .button {
  margin-top: 10px;
  margin-left: 14px;
}
.itemTime {
  color: #808080;
}
.projectTitle i.star {
  margin-right: 15px;
}
#projectDesc {
  margin-top: 25px;
}
body {
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  line-height: 1.4;
}
.ui.divider {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}
#percentage {
  margin-top: 20px;
}
#percentage span:first-child {
  -webkit-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}
#percentage span:last-child {
  -webkit-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}
#header .column {
  margin-bottom: 0px;
}
span.vote-color {
  display: inline-block;
}
#side {
  margin-top: 35px;
}
#list {
  margin-top: 0px;
  background-color: #f8f8f8;
  padding: 10px 5px;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  border-left: 1px solid #ddd !important;
  border-right: 1px solid #ddd !important;
  border-bottom: 1px solid #ddd !important;
  color: #444;
}
