body {
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  line-height: 1.4;
  background-color: #f2f2f2;
  margin: 0;
}
.ui.grid .column {
  margin-top: 0;
}
#main {
  background-color: #fff;
  height: 100%;
  padding: 0;
}
#main #header-menu {
  -webkit-border-radius: 0;
  border-radius: 0;
  margin-bottom: 0;
}
#main #projectDesc {
  margin: 20px 40px;
  font-size: 18px;
}
#main #projectDesc p {
  margin: 0;
}
#main #new-item-input {
  margin: 0 30px;
}
#main #new-item-input input {
  border: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-bottom: 1px solid #aaa;
}
#main #percentage {
  line-height: 9px;
}
#main #percentage span.vote-color {
  display: inline-block;
}
#main #list {
  margin: 10px 30px;
  font-size: 15px;
  color: #444;
}
#main #list .item {
  padding-top: 12px;
  padding-bottom: 12px;
}
#main #list .item .itemTime {
  color: #808080;
}
#side {
  margin-top: 35px;
}
