html(ng-app="app")
  head
    link(rel="stylesheet" href="/bower_components/semantic-ui/build/packaged/css/semantic.css")
    script(src="/bower_components/jquery/dist/jquery.js")
    script(src="/bower_components/jquery-ui/ui/jquery-ui.js")
    script(src="/bower_components/semantic-ui/build/packaged/javascript/semantic.js")
    script(src="/bower_components/angular/angular.js")
    script(src="/bower_components/angular-ui-utils/ui-utils.js")
    script(src="/bower_components/angular-cookies/angular-cookies.js")
    script(src="/bower_components/angularLocalStorage/src/angularLocalStorage.js")
    script(src="/bower_components/angular-ui-sortable/sortable.js")
    script(src="/lib/index.js")
    link(rel="stylesheet" href="/css/index.css")
  body(ng-controller="AppCtrl")
    #content.ui.stackable.grid
      .two.wide.column
      #main.ten.wide.column
        #header-menu.ui.inverted.menu
          a.item
            i.large.home.icon
          .item
            | Title
        #percentage
          span.vote-color(style="width:60%; background-color: green") &nbsp;
          span.vote-color(style="width:30%; background-color: yellow") &nbsp;
          span.vote-color(style="width:4%; background-color: red") &nbsp;
          span.vote-color(style="width:6%; background-color: grey") &nbsp;
        #project-desc
          p
            | Lorem ipsum dolor sit amet, donec porta et hendrerit aliquet integer
        #new-item-input.ui.fluid.left.icon.focus.input
          i.add.icon
          input(type="text"
            placeholder="add to list"
            ng-model="newItem" ui-keypress="{'enter': 'add()'}")
        #list(ui-sortable ng-model="list")
          .ui.segment(ng-repeat="item in list | filter:search"
            ng-mouseenter="hover=true"
            ng-mouseleave="hover=false")
            .ui.right.corner.label
              i.empty.checkbox.icon
            .ui.grid.middle.aligned
              .row.equal.height
                .one.wide.column
                  i.ellipsis.vertical.icon(ng-class="{disabled: !hover}")
                .fifteen.wide.column
                  .ui.fluid.input
                    input(type="text" ng-model="item.title")
      #side.two.wide.column
        .ui.fluid.icon.input
          i.search.icon
          input(type="text" placeholder="search" ng-model="search")
      .two.wide.column
