@import 'nib'

#buttons .button
  margin-top: 10px
  margin-left: 20px

.itemTime
  color: gray

.projectTitle i.star
  margin-right: 15px

.ui.divider
  margin-bottom: 0px !important

#percentage
  background: linear-gradient(left, #21a530 0%, #24bf2e 23%, yellow 23%, yellow 66%, #d84029 66%, #ea3333 90%, #ea3333 90%, grey 90%, grey 100%) !important
  margin-bottom: 20px
