@import 'nib'

body
  font-family: Helvetica, arial, freesans, clean, sans-serif
  line-height: 1.4
  background-color: #f2f2f2
  margin: 0

.ui.grid
  .column
    margin-top: 0

#main
  background-color: white
  padding: 0
  min-height: 1000px
  #header-menu
    .ui.breadcrumb
      .divider
        color: #eeeeee
        padding: 0 10px
    border-radius: 0
    margin-bottom: 0
    i
      color: white
  #project-desc
    margin: 20px 40px
    p
      font-size: 16px
      color: #333333
      margin: 0
  #new-item-input
    margin: 0 35px
    margin-bottom: 30px
    input
      border: none
      border-radius: 0
      border-bottom: 1px solid #aaaaaa
  #percentage
    line-height: 12px
    span.vote-color
      display: inline-block
  #list
    margin: 0px 30px
    .segment.even
      background-color: rgba(0,0,0, 0.02)
    .segment
      margin: 0
      padding: 0
      .icon-col
        padding: 0
        width: 1%
        .vis-hide
          visibility: hidden
        .status-icon
          cursor: pointer
        .drag-icon
          cursor: -moz-grab
          cursor: -webkit-grab
      .input-col
        padding-left: 0
      .category-col
        color: grey
      .column
        .ellipsis.vertical.icon
          cursor: -moz-grab
          cursor: -webkit-grab
        .remove.icon
          cursor: pointer
        margin: 0
      .yellow.corner
        border-color: yellow
      textarea
        height: 20px
        padding: 5px 15px
        margin-bottom: 3px
        resize: none
        width: 100%
        font-size: 1em
        color: rgba(0,0,0,0.7)
        border: none
        background-color: transparent

#side
  margin-top: 35px

