@import 'nib'

body
  font-family: Helvetica, arial, freesans, clean, sans-serif
  line-height: 1.4
  background-color: #f2f2f2
  margin: 0

.ui.grid
  .column
    margin-top: 0

#main
  background-color: white
  padding: 0
  min-height: 1000px
  #header-menu
    .ui.breadcrumb
      .divider
        color: #eeeeee
        padding: 0 10px
    border-radius: 0
    margin-bottom: 0
    i
      color: white
  #project-desc
    margin: 20px 40px
    p
      font-size: 16px
      color: #333333
      margin: 0
  #new-item-input
    margin: 0 35px
    margin-bottom: 30px
    input
      border: none
      border-radius: 0
      border-bottom: 1px solid #aaaaaa
  #percentage
    line-height: 12px
    span.vote-color
      display: inline-block
  #list
    margin: 0px 30px
    padding-bottom: 200px
    padding-top: 20px
    .segment
      padding: 0
      .status-col
        padding-top: 2px
        padding-right: 0
        i
          cursor: pointer
      .drag-col
        padding-right: 0
      .input-col
        padding-left: 0
      .column
        .ellipsis.vertical.icon
          cursor: -moz-grab
          cursor: -webkit-grab
        .angle.right.icon
          font-size: 20px
          cursor: pointer
        .angle.down.icon
          font-size: 20px
          cursor: pointer
        .remove.icon
          cursor: pointer
        margin: 0
      .yellow.corner
        border-color: yellow
      textarea
        height: 20px
        padding: 10px 15px
        margin-bottom: 3px
        resize: none
        width: 100%
        font-size: 1em
        color: rgba(0,0,0,0.7)
        border: none
        background-color: transparent
      textarea.h1
        font-weight: bold
        font-size: 1.3em
        color: green
      textarea.h2
        font-weight: bold
        font-size: 1.2em
      textarea.h3
        font-weight: bold
        font-size: 1.1em

#side
  margin-top: 35px

