html
  title ListRGB - Collaboration with Color
  link(rel="stylesheet" href="./css/index.css")
  body
    img(src="./images/logo.png")
    h1 ListRGB

    | [
    a(href="/_new") Try It
    | ]

    | [
    a(href="http://github.com/poga/ListRGB") Github
    | ]
